<h2>Flight Finder</h2>
<p>Select your origin and destination to check for for airlines with flights on that route.</p>
<form ng-disabled="true" ng-submit="findFlights()" class="search-form" ng-show="citiesRetrieved">
  <fieldset ng-disabled="onRequest">
  <div class="form-group">
    <autocomplete ng-model="route.from" focus attr-placeholder="From" on-type="getCandidateCity" data="candidateCities" auto-select="true" autocomplete-required>
    </autocomplete>
  </div>
  <div class="form-group">
    <autocomplete ng-model="route.to" attr-placeholder="To" on-type="getCandidateCity" data="candidateCities" auto-select="true"  autocomplete-required>
    </autocomplete>
  </div>
  <input ng-disabled="!route.from || !route.to" type="submit" value="Submit" class="btn btn-success btn-block" />
  </fieldset>
</form>
<div class="col-md-12 no-side-padding">
    <div class="list-group" ng-show="airlines && airlines.length > 0">
        <div class="list-group-item active text-center">
          Available Flights
        </div>
        <div class="list-group-item" ng-repeat="airline in airlines">
            {{airline}}
        </div>
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
      <strong>{{error}}.
    </div>
</div>
